{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> SmartWeb </title> 
	<link rel="stylesheet" href="/static/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css"> 
</head>

{% block body %}
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header"><!-- 头 -->
               
                <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">SmartWeb</i> </a>
                
        <div id="sideNav" href=""><i class="material-icons dp48">-></i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
                  <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>{{ request.user }}</b> <i class="material-icons right"></i></a></li>
            </ul>
        </nav>
        <!-- Dropdown Structure -->

<ul id="dropdown1" class="dropdown-content">
<li><a href="#"><i class="fa fa-user fa-fw"></i> 我的文档</a>
</li>
<li><a href="#"><i class="fa fa-gear fa-fw"></i> 个人设置</a>
</li> 
<li><a href={% url 'login' %}><i class="fa fa-sign-out fa-fw"></i> 退出</a>
</li>
</ul>
<!-- 以上部分是头 -->
       <!--/. NAV TOP  -->
       {% block menu %}
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu waves-effect waves-dark" href={% url 'index' %}><i class="fa fa-dashboard"></i> 主页</a>
                    </li>
                   
                    <li>
                        <a href="/static/chart.html" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 日志统计<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href={% url 'tables' %} class="waves-effect waves-dark" >轨迹分析日志统计</a>
                            </li>
                         
                        </ul>
                    </li> 
                    </li>
                    <li>
                        <a href="/static/form.html" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 日志分析</a>
                    </li>
                   
                </ul>

            </div>

        </nav> <!-- 以上为左边的菜单栏 -->
        <!-- /. NAV SIDE  -->
        {% endblock %}
        {% block context %}
        <div id="page-wrapper">
          <div class="header"> 
                        <h1 class="page-header">    
                        </h1>
                
                                    
        
        
        
                <footer><p>你好</p>
                
        
                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
         {% endblock %}
        <!-- /. PAGE WRAPPER  -->
    </div>
 </body>

{% endblock %}

 <script src="/static/assets/js/jquery-1.10.2.js"></script>
	
	<!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
	
	<script src="/static/assets/materialize/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="/static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/assets/js/morris/morris.js"></script>
	
	
	<script src="/static/assets/js/easypiechart.js"></script>
	<script src="/static/assets/js/easypiechart-data.js"></script>
	
	 <script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="/static/assets/js/custom-scripts.js"></script> 
</html>